.about {
  background-color: $light_gray;
  padding: 112px 0 100px;

  &__wrapper {
    @include wrapper;
  }

  &__title {
    @include title;
  }

  &__description {
    @include description;
  }

  @include desktop {
    padding: 75px 0;

    &__description {
      height: unset;
    }
  }

  @include mobile {
    &__wrapper {
      max-width: $width-mobile;
    }

    &__title {
      margin-bottom: 20px;
      font-size: 1.75rem;
    }
  }
}
